HotelManager_HotelAdmin/HotelManager_HotelAdmin/bin/**
HotelManager_HotelAdmin/HotelManager_HotelAdmin/obj/**
LambdaAuthorizer/LambdaAuthorizer/bin/**
LambdaAuthorizer/LambdaAuthorizer/obj/**
HotelCreatedEventHandler/HotelCreatedEventHandler/bin/**
HotelCreatedEventHandler/HotelCreatedEventHandler/obj/**
SearchApi/bin/**
SearchApi/obj/**
HotelCreatedEventHandlerOrdering/HotelCreatedEventHandler/bin/**
HotelCreatedEventHandlerOrdering/HotelCreatedEventHandler/obj/**